.previewPanel {
	//transition: left .4s cubic-bezier(.42,-0.3,.78,1.25),
	//			top .4s cubic-bezier(.42,-0.3,.78,1.25),
	//			bottom .4s cubic-bezier(.42,-0.3,.78,1.25);
	z-index: 5000;
	h1 {
		margin: 0;
	}
}

.topRow {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
	padding: 10px;
}

.controls {
    z-index: 5001;
	justify-content: flex-end;

    button {
        cursor: pointer;
        &:hover svg {
            fill: #999999;
        }
    }
}

.previewPanelContent {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.panelContent {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.preview {
	display: flex;
    flex: 1;
    flex-direction: column;

    & > div, & > div > div {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

	.loading {
		align-items: center;
		justify-content: center;
	}
}

.noResults {
    color: white;
}
