.themeElegant .cm-s-elegant span.cm-number, .themeElegant .cm-s-elegant span.cm-string, .themeElegant .cm-s-elegant span.cm-atom {
	color: #762;
  }
  .themeElegant .cm-s-elegant span.cm-comment {
	color: #262;
	font-style: italic;
	line-height: 1em;
  }
  .themeElegant .cm-s-elegant span.cm-meta {
	color: #555;
	font-style: italic;
	line-height: 1em;
  }
  .themeElegant .cm-s-elegant span.cm-variable {
	color: black;
  }
  .themeElegant .cm-s-elegant span.cm-variable-2 {
	color: #b11;
  }
  .themeElegant .cm-s-elegant span.cm-qualifier {
	color: #555;
  }
  .themeElegant .cm-s-elegant span.cm-keyword {
	color: #730;
  }
  .themeElegant .cm-s-elegant span.cm-builtin {
	color: #30a;
  }
  .themeElegant .cm-s-elegant span.cm-link {
	color: #762;
  }
  .themeElegant .cm-s-elegant span.cm-error {
	background-color: #fdd;
  }
  .themeElegant .cm-s-elegant .CodeMirror-activeline-background {
	background: #e8f2ff;
  }
  .themeElegant .cm-s-elegant .CodeMirror-matchingbracket {
	outline: 1px solid grey;
	color: black !important;
  }