.builderControls {
	margin: 0 6px 0 12px;
	background-color: #ffffff;
	box-shadow: 0 1px 1px #cccccc;

	& > button {
		border: 0;
	}

	svg {
		fill: #aaaaaa;
	}

	:global(.MuiButton-root) {
		font-size: 11px;
		color: #444444;
	}
}

.dataTemplateControls {
	margin: 0 6px 0 0;
	background-color: #ffffff;
	box-shadow: 0 1px 1px #cccccc;

	& > button {
		border: 0;
	}

	svg {
		fill: #aaaaaa;
	}

	:global(.MuiButton-startIcon) {
		margin-right: 0;
	}
}

.btnSelected {
	svg {
		fill: #aaaaaa;
	}
}

.toggleLayoutBtn {
	border: 1px solid rgba(0, 0, 0, 0.23);
	border-right: 0;
	width: 40px;

	button {
		height: 30px;
		width: 40px;
		min-width: inherit;
	}
}

:global(.MuiButton-root.Mui-disabled).toggleLayoutBtnDisabled {
	border: 0;

	svg {
		fill: #dddddd;
	}
}

