.pill {
	border-radius: 3px;
	padding: 1px 6px 2px;
	font-size: 11px;
}

.live {
	background-color: green;
	color: white;
}

.disabled {
	background-color: #999999;
	color: white;
}

.expired {
	background-color: #990000;
	color: white;
}
