/* general styles */
html {
	overflow: -moz-scrollbars-vertical;
	height: 100%;
}
body {
	height: 100%;
	margin: 0px;
	background: #dedede url(../images/topBackground.jpg) repeat-x;
	text-align: center;
}
body, table, td, div, span, div, p {
	font: 11px "lucida grande", verdana, sans-serif; /* 0.94em */
	line-height: 20px;
	color: #555555;
}
table, td, p, div, input, select, optgroup, noscript {
	line-height: 17pt;
}
input, select, textarea, option {
	font: 8pt "lucida grande", verdana, sans-serif;
	color: #222222;
}
input[disabled='disabled'] {
	color: #bbbbbb;
}
h1 {
	font-size: 1.6em;
	font-weight: normal;
	font-family: inherit;
}
h2 {
	font-size: 1.2em;
	color: green;
	font-weight: normal;
	font-family: inherit;
}
h3 {
	margin: 10px 0px 7px;
}
h3.gdSubtitle {
	font-size: 12px;
}
p {
	margin: 6px 0px;
}
hr {
	color: #efefef;
	background-color: #efefef;
	height: 1px;
	border: 0px;
}
form {
	margin: 0px;
}
select, optgroup, option {
	font-size: 8pt;
	font-family: "lucida grande", verdana;
}
optgroup {
	font-weight: bold;
}
a:link, a:visited, nav a:link, nav a:visited {
	color: #638fe6;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.gdDisabledText, .gdDisabledText label {
	color: #cccccc;
}
ul  {
	padding-left: 16px;
	margin-left: 0px;
}
#gdReportBug {
	background: transparent url(../images/bug.png) center right no-repeat;
	padding: 5px 22px 5px 0px;
}

.gdFields {
	.gdField {
		float: left;
		width: 376px;
		border-bottom: 1px solid #efefef;
		clear: left;
	}
	.gdDisabledRow {
		label, input {
			color: #cccccc;
		}
	}
	label {
		float: left;
		width: 160px;
		color: #777777;
		margin-top: 2px;
	}
	input {
		float: left;
		width: 210px;
		margin-top: 2px;
	}
	div {
		margin-top: 2px;
	}

	.gdCol {
		float: left;
		width: 350px;
		h3 {
			margin-top: 0px;
		}
		.rightBox {
			float: right;
			input {
				width: auto;
				float: none;
			}
			label {
				width: auto;
				float: none;
			}
		}
		&:first-child {
			margin-right: 20px;
		}
		.gdField {
			width: 329px;
		}
		input { 
			width: 160px;
		}
		textarea {
			width: 100%;
			height: 80px;
			padding: 3px;
			color: #555555;
		}
	}
}