/* contains styles for the generator table */
hr.divider {
	color: #efefef;
	margin: 16px 0px 0px;
}
#gdTableRows {
	li.gdDeletedRow {
		color: #ffffcc;
		label, div {
			color: #ffffcc;
		}
	}
	&>li:nth-child(even) {
		background-color: #eaffe6;
	}
	&>li:nth-child(odd) {
		background-color: #f1f1f1;
	}
}
/* needed to override the nth-child style above */
body #gdTableRows li.gdDeletedRow {
	background-color: #660000;
}
.gdTableHeadings {
	line-height: 18.6px;
	li {
		background: -webkit-gradient(linear, left top, left bottom, from(#dddddd), to(#dfdfdf), color-stop(0.5, #dfdfdf), color-stop(0.5, #dfdfdf));
		background: -moz-linear-gradient(bottom, #dddddd, #dfdfdf);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dddddd', endColorstr='#dfdfdf');
		float: left;
		text-align: center;
		height: 20px;
		margin: 0px 0px 0px 1px;
		padding: 0px;
		color: #444444;
		text-shadow: 1px 1px #f2f2f2;
		font-weight: normal;

		&.gdColDelete {
			width: 39px;
		}
	}
	thead {
		tr {
			background: -webkit-gradient(linear, left top, left bottom, from(#dddddd), to(#dfdfdf), color-stop(0.5, #dfdfdf), color-stop(0.5, #dfdfdf));
			background: -moz-linear-gradient(bottom, #dddddd, #dfdfdf);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dddddd', endColorstr='#dfdfdf');
			color: #444444;
			text-shadow: 1px 1px #f2f2f2;
			th {
				line-height: 18.6px;
				text-align: center;
				font-weight: normal;
				height: 20px;
			}
		}
	}
	tbody tr {
		&>li:nth-child(even) {
			background-color: #ebfeeb;
		}
		&>li:nth-child(odd) {
			background-color: #f1f1f1;
		}
	}
}
.gdTableHeadings, #gdTableRows, #gdTableRows ul {
	font-family: "lucida grande", verdana;
	clear: both;
	margin: 0px;
	padding: 0px;
	list-style: none;
	font-weight: bold;
}
#gdTableRows {
	margin-bottom: 8px;
	li {
		float: left;
		margin: 0px 0px 1px 1px;
		padding: 0px;
		font-weight: normal;
		font-family: verdana;
		line-height: 16pt;
	}
}
.gdColOrder {
	cursor: move;
	width: 40px;
	text-align: center;
}
.gdColTitle {
	width: 136px;
	input {
		width: 130px;
	}
}
.gdColDataType {
	width: 198px;
	select {
		width: 198px;
	}
}
.gdColExamples {
	width: 198px;
}
.gdColOptions {
	width: 274px;
}
.gdColHelp {
	width: 38px;
	text-align: center;
}
li.gdColDelete {
	width: 38px;
	text-align: center;
	display: block;
}
#gdHelpPopup {
	p {
		margin: 5px 0px 12px;
	}
	h4 {
		margin: 0px;
	}
	padding-left: 54px;
	background: transparent url(../images/info.png) 10px 10px no-repeat;
}
#gdEmptyFormDialog {
	p {
		margin: 5px 0px 12px;
	}
	h4 {
		margin: 0px;
	}
	padding-left: 54px;
	background: transparent url(../images/help.png) 10px 10px no-repeat;
}
#gdTextSize {
	float: right;
	list-style: none;
	li {
		float: left;
		width: 18px;
		vertical-align: top;
		margin: 3px 0px 0px 3px;
		background-color: #F2F2F2;
		padding: 1px 3px;
		text-align: center;
		border-radius: 3px;
		cursor: pointer;
		&.gdSelected {
			background-color: #3366cc;
			color: white;
		}
		&.small {
			font-size: 8pt;
		}
		&.medium {
			font-size: 12pt;
		}
		&.large {
			font-size: 16pt;
		}
	}
}
#gdGeneratedData {
	height: 400px;
	width: 100%;
}

#gdProcessingIcon {
	position: absolute;
	right: -1px;
	top: 5px;
}
#gdDataSetStatusLine {
	position: absolute;
	right: 30px;
	top: 5px;
	font-style: italic;
	color: #666666;
	font-size: 7pt;
}

.gdSmallTabs {
	margin-bottom: 20px;
	ul {
		list-style: none;
		margin: 0px;
		padding: 0px;
		height: 20px;
		border-bottom: 1px solid #e1e1e1;
		li {
			line-height: 20px;
			height: 20px;
			float: left;
			margin-right: 1px;
			padding: 0px 16px;
			border-top-left-radius: 6px;
			border-top-right-radius: 6px;
			background: #f2f2f2;
			background: -moz-linear-gradient(top,  #f2f2f2 0%, #e1e1e1 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#e1e1e1));
			background: -webkit-linear-gradient(top,  #f2f2f2 0%,#e1e1e1 100%);
			background: -o-linear-gradient(top,  #f2f2f2 0%,#e1e1e1 100%);
			background: -ms-linear-gradient(top,  #f2f2f2 0%,#e1e1e1 100%);
			background: linear-gradient(to bottom,  #f2f2f2 0%,#e1e1e1 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#e1e1e1',GradientType=0 );
			cursor: pointer;
			text-shadow: 1px 1px #f2f2f2;
			&.gdSelected {
				background: white;
				background-color: white;
				border: 1px solid #cccccc;
				border-bottom: 0px;
				line-height: 18px;
				padding: 0px 15px;
			}
		}
	}
	.gdExportTypeTabSettings {
		clear: both;
		border-top: 0px;
		padding: 6px;
		margin: 0px;
		display: none;
	}
	#gdShowSettingsLink {
		float: right;
		span {
			font-size: 7pt;
		}
		a {
			font-size: 7pt;
			color: #3366CC;
		}
	}
}
#gdExportTypeTabs {
	border-bottom: 1px solid #e1e1e1;
}
#gdGenerateSection {
	background-color: #dcffd8;
	border-radius: 6px;
	padding: 20px;
	border: 1px solid #b8e2b3;
	span {
		margin-left: 55px;
		label {
			margin-right: 8px;
		}
	}
	.gdDisabled {
		background-color: transparent;
	}
}
#gdGenerateCount, #gdGenerateTotal {
	font-weight: bold;
}
#gdNumRowsToGenerate {
	width: 45px;
	margin: 0px 5px;
}
#gdGenerationPanel {
	line-height:10px;
	margin-bottom:8px;
}
#gdProgressMeter {
	width: 260px;
	margin-right: 3px;
}
#gdActionIcons {
	float: right;
	list-style: none; 
	margin-top: 0px;
	padding: 0px;
	li {
		padding: 2px;
		display: inline-block;
		width: 32px;
		height: 32px;
		background-color: #e1e1e1;
		-webkit-transition: background-color .2s;
		-moz-transition: background-color .2s;
		transition: background-color .2s;
		border-radius: 3px;
		cursor: pointer;
		display: inline-block;
		&:hover {
			background-color: #cccccc;
		}
		&.loading {
			&:hover {
				background-color: #e1e1e1;
			}
			img {
				filter: url(../../../css/filters.svg#grayscale);
				filter: gray;
				-webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
				opacity: .5;
			}
		}
	}
}
#gdDataSetName {
	font-size: 1.6em;
	border: 1px solid #cccccc; 
	border-right: 0px;
	padding: 6px; 
	width: 730px;
	color: #555555;
	float: left;
	height: 22px;

	&::-webkit-input-placeholder  { 
		color: #aaaaaa;
	}
	&:-moz-placeholder {
		color: #aaaaaa;
	}
}
a.gdDisabledLink {
	color: #cccccc;	
}
#gdSelectLanguage {
	width: 150px;
}
#gdAccountList {
	thead td {
		border-bottom: 1px solid #cccccc;
		font-weight: bold;
	}
	table {
		width: 100%;
	}
}
#gdUserAccount {
	background: transparent url(../images/user.png) top left no-repeat;
	padding-left: 20px;
}
.gdIconWarning {
	background: transparent url(../images/warning.png) top left no-repeat;
	width: 48px;
	height: 48px;
}
#gdAddDataSetRowsSection {
	background-color: #f2f2f2;
	border-radius: 3px;
	padding: 4px 4px 4px 8px; 
	display: inline-block;
}

/* Fix for https://github.com/benkeen/generatedata/issues/171 */
.search-field input {
	min-width: 150px;
}
