header {
	background-image: url(../images/siteHeader.jpg);
	background-repeat: no-repeat;
	position: relative;
	width: 980px;
	height: 77px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 8px;
	display: block;

	nav {
		ul {
			margin: 0px;
			padding: 0px;
			display: inline;
			list-style: none;
			li {
				display: inline;
			}
		}
		position: absolute;
		right: 0px;
		top: 32px;
		a:link, a:visited {
			text-decoration: none;
		}
		a:hover {
			color: #990000;
			border-bottom: 1px solid #990000;
		}
	}
}
section {
	width: 500px;
	border-top: none;
	border-bottom: none;
	background-color: white;
	width: 930px;
	margin: 0 auto;
	text-align: left;
	padding: 10px 25px 20px;
	clear: left;
	display: block;
}
nav {
	display: block;
	a:link, a:visited {
		color: #3366cc;
		outline: none;
		text-shadow: 0 1px 0 #fff;
	}
}
footer {
	width: 980px;
	margin: 0 auto 15px;
	padding: 5px 0px;
	height: 20px;
	font-size: 7pt;
	background-color: #f5f5f5;
	border-top: none;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border-radius-bottomleft: 8px;
	border-radius-bottomright: 8px;
	display: block;

	a:link, a:visited {
		color: #555555;
		text-decoration: none;
		color: #3366cc;
		outline: none;
		&:hover {
			text-decoration: underline;
		}
	}

	ul {
		list-style: none;
		padding: 0px;
		margin: 0px;
		li {
			margin: 0px;
			padding: 0px;
			display: inline;
			&:before {
				content: " | ";
				color: #cccccc;
			}
			&:first-child:before {
				content: "";
			}
			span {
				margin: 0px 6px;
				font-size: inherit;
			}
		}
	}
}

#gdMainTabs {
	width: 980px;
	margin: 0 auto;
	position: relative;
	ul {
		list-style: none;
		margin: 0px;
		padding: 0px;
		li {
			color: #222222;
			font-size: 9pt;
			cursor: pointer;
			margin: 2px 1px 0 0;
			padding: 3px 0 0 0;
			float: left;
			width: 120px;
			border-top-left-radius: 8px;
			border-top-right-radius: 8px;
			border-radius-topleft: 8px;
			border-radius-topright: 8px;
			background-color: #efefef;
			height: 22px;
			color: #666666;
			a:link, a:visited {
				display:block;
				font-size: 9pt;
				color: green;
				text-decoration: none;
			}
			&:hover {
				background-color: #f5faf6;
				-moz-transition: background-color 150ms linear;
				-webkit-transition: background-color 150ms linear;
				-o-transition: background-color 150ms linear;
			}
		}
		li.gdSelected {
			color: green;
			cursor: inherit;
			border-bottom: 0px;
			height: 22px;
			background-color: white;
			&:hover {
				background-color: white;
			}
		}
	}
}
.gdMainTabContent {
	padding: 0px;
	margin: 0px;
	&>li {
		padding: 0px;
		margin: 0px;
		list-style: none;
	}
	h1 {
		float: left;
	}
	.gdSectionHelpTip {
		float:left;
		list-style: none;
		padding-left: 10px;
		padding-top: 17px;
	}
}
#gdMainTab1Content {
	display: block;
	margin-top: 20px;
	h2 {
		margin: 0px 0px 4px;
		font-size: 12px;
		color: #777777;
		padding: 1px 20px 0px 1px;
		span.gdSectionHelp {
			background: transparent url("../images/helpSmall.png") right center no-repeat;			
			cursor: pointer;
			width: 14px;
			height: 14px;
			display: inline-block;
			margin: 0px 0px -2px 3px;
		}
	}
	.gdFields {
		float: left;
	}
}
#gdContent {
	text-align: left;
	position: relative;
}
.cols2 {
	clear:both;
	position:relative;
}
.cols2 .col {
	float: left;
	width: 410px;
}
.gdSetting {
	position: relative;
	clear: left;
	line-height: 18pt;
	width: 500px;

	&>label {
		float: left;
		width: 160px;
	}
	&>div {
		float: left;
	}
}
.gdFields {
	line-height: 21px;
	width: 725px;
	.gdError {
		margin-left: 6px;
		background: transparent url(../images/error.gif) left center no-repeat;
		float: left;
		width: 315px;
		padding-left: 24px;
		color: #e22222;
		display: none;
	}
	input.pwdField {
		width: 100px;
	}
}
#consoleEventsModuleList {
	width: 400px;
}
