#gdMainDialog {
	padding: 3px 2px;

	div, p {
		line-height: 16pt;
	}
	ul li {
		padding: 2px 30px;
	}
	h3 {
		margin: 2px 0px 0px;
	}

	.gdSmallTabs {
		margin-bottom: 0px;
		ul {
			height: 24px;
		}
	}
	.gdSelected {
		padding: 2px 29px;
	}
}
#gdMainDialogContent {
	padding: 6px;
}
.gdHelpSection {
	padding: 2px 8px;
	margin: 0px -8px;	
}
#gdAccountDataSets td a {
	display: block;
}