#gdMainDialog {
	border: 1px solid #cccccc;
	padding: 0px;
	margin: 3px 2px;
	div, p {
		line-height: 16pt;
	}
	h3 {
		margin: 2px 0px 0px;
	}
	.ui-widget button {
		font-family: "lucida grande", verdana;
	}

	.gdDeletedDataSetRow {
		background-color: #EBFEEB;
	}
}

#gdMainDialogContent {
	padding: 6px;
	clear: both;
}

#gdAccountDataSets td a {
	display: block;
	color: #3366CC;
	&:hover {
		background-color: #efefef;
	}
}

#gdMainDialogTabs {
	ul {
		margin: 0px;
		padding: 0px;
		list-style: none;
		background-color: pink;

		li {
			width: 25%;
			float: left;
			margin: 0px;
			background-color: #efefef;
			text-align: center;
			cursor: pointer;

			&.gdSelected {
				background-color: white;
			}
		}
	}
}
