/* misc stuff */
div.gdClear {
	clear: both;
}
.joiner {
	color: #cccccc;
}
.gdVerticalPad {
	padding-bottom: 10px;
}
.gdMarginTop {
	margin-top: 10px;
}
.gdMarginBottom {
	margin-bottom: 10px;
}
.hidden {
	display: none;
}
.gdTip {
	color: #777777;
}
.red {
	color: red;
}
.bold {
	font-weight: bold;
}
.gdDisabled {
	color: #cccccc;
	background-color: #efefef;
}
.gdHideNoJS {
	display: none;
}
noscript div {
	background-color: #ffffcc;
	padding: 10px;
	font-size: 10pt;
	border-radius: 5px;
	margin: 0px auto;
	text-shadow: 0 1px 0 #fff;
	box-shadow: 2px 4px 5px #666666;
	display: block;
	width: 950px;
	p {
		font-size: 12pt;
		color: #6d6d41;
	}
}

/* jQuery UI style overrides */
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {
	cursor: pointer;
}
.ui-dialog {
	text-align: left;
}
.ui-dialog-title {
	font-size: 14px;
}
.gdColOptions .ui-datepicker-trigger {
	margin: 0px 0px -3px 1px;
	cursor: pointer;
}
#gdTableRows .gdColHelp .ui-helper-clearfix {
	margin-left: 8px;
	margin-top: 2px;
}
body .ui-widget-content {
	color: #555555;
}
body .ui-widget-overlay {
	background: #333333 url(../../../css/smoothness/images/ui-bg_flat_0_333333_40x100.png) 50% 50% repeat-x;
	opacity: .30;
	filter:Alpha(Opacity=30);
}
body .ui-widget-shadow {
	margin: -8px 0 0 -8px; padding: 8px; background: #333333 url(../../../css/smoothness/images/ui-bg_flat_0_333333_40x100.png) 50% 50% repeat-x;
	opacity: .30;filter:Alpha(Opacity=30);
	-moz-border-radius: 8px;
	-khtml-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}

/* overridden Chosen styles */
body .chzn-container-multi .chzn-choices .search-choice {
	margin-left: 3px;
	padding: 0px 20px 2px 5px;
	margin-bottom: 1px;
}
body .chzn-container-multi .chzn-choices .search-field .default {
	font: 11px Verdana, sans-serif;
}
body .chzn-container-multi .chzn-choices {
	background-image: none;
	padding-bottom: 2px;
	border: 1px solid #cccccc;
	background-color: #fafafa;
}

body .ui-tooltip {
	text-align: left;
}

/* plugin installation */
#gdPluginInstallationResults {
	&>div {
		padding: 4px 8px 8px;
		background-color: #f2f2f2;
		border-radius: 8px;
		float: left;
		width: 30%;
		margin-right: 10px;
		&:last-child {
			margin-right: 0px;
		}
	}
	h4 {
		margin: 0px;
		padding: 0px;
		font-weight: normal;
		color: #222222;
		font-style: italic;
	}
	.gdResponse {
		div {
			font-size: 7pt;
			line-height: 16px;
			border-bottom: 1px solid #dddddd;
			clear: both;

			&:first-child {
				margin-top: 4px;
			}
			&:last-child {
				border-bottom: 0px;
			}
		}
		.gdSuccess {
			background-color: green;
			color: white;
			border-radius: 3px;
			padding: 0px 4px;
			float: right;
			line-height: 16px;
			font-size: 6.5pt;
		}
		.gdError {
			background-color: #cc0000;
			color: white;
			border-radius: 3px;
			padding: 0px 4px;
			float: right;
			line-height: 16px;
			font-size: 6.5pt;
			cursor: pointer;
		}
	}
}

/* overridden CodeMirror styles */
body .CodeMirror {
	border: 1px solid #cccccc;
	/*line-height: 16px;*/
	pre, span {
		font-family: monospace;
	}
}
body .CodeMirror-lines div pre {
	/*line-height: 14px;*/
}
body .CodeMirror-scroll {
	height: 500px;
}
body .CodeMirror_small {
	table, td, p, div, span {
		line-height: 10px;
		font-size: 7pt;
	}
}
body .CodeMirror_medium {
	table, td, p, div, span {
		line-height: 16px;
		font-size: 9pt;
	}
}
body .CodeMirror_large {
	table, td, p, div, span {
		line-height: 22px;
		font-size: 12pt;
	}
}

#gdRefreshPassword {
	width: 16px;
	height: 16px;
	margin-bottom: -5px;
	margin-left: 2px;
	display: inline-block;
	background-image: url(../images/refresh.png);
	cursor: pointer;
}
input.medium {
	width: 200px;
}
#gdManageAccount_password {
	width: 100px;
}
#githubRibbon {
	float: right;
	top: 0px;
	right: 0px;
	margin: -20px -25px 0px 0px;
}
#gdPageLoad {
	background-color: #cccccc;
	border-radius: 5px 5px 5px 5px;
	color: white;
	margin: 100px auto;
	width: 305px;
	font-size: 27pt;
	height: 75px;
	text-align: center;
	vertical-align: center;
	line-height: 72px;
}
