html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-color: #dedede;
  text-align: center;
}

body, table, td, div, span, div, p {
  font: 11px "lucida grande", verdana, sans-serif;
  line-height: 20px;
  color: #555555;
}

table, td, p, div, input, select, optgroup, noscript {
  line-height: 17pt;
}
