settings.php
cache/*
.DS_Store
.project
.buildpath
.settings/*
.idea*
resources/themes/classic/.sass-cache/*
resources/themes/default/.sass-cache/*
resources/themes/.sass-cache/*
node_modules*
/nbproject/private/
.externalToolBuilders/Generatedata PHP Builder.launch
nbproject/project.properties
nbproject/project.xml
