@import "../../styles/variables.scss";

.hidden {
	opacity: 0;
}

.shown {
	opacity: 1;
	transition: opacity 200ms ease-in-out;
}

.yourAccountPage {
	display: flex;
	flex-direction: row;
	margin-bottom: 10px;
	& > * {
		flex: 1;
	}
}

.rightCol {
	border-left: 1px solid #f2f2f2;
	padding-left: 20px;
	height: 83%;
}

.rightBlock {
	& > div {
		margin-bottom: 15px;
		font-size: 32px;
	}
}

.yourAccountRightCol {
	flex: 1;
	margin-left: 20px;
}

@media (max-width: 600px) {
	.yourAccountRightCol {
		display: none;
	}
}
