@import "../../styles/variables.scss";

.accountPage {
	.numGeneratedRows {
		font-size: 32px;
	}

	.cancelLink {
		margin-left: 15px;
		font-size: 13px;
		color: #999999;
		cursor: pointer;

		&:hover {
			color: $primary-color;
		}
	}
}

.hidden {
	opacity: 0;
}
.shown {
	opacity: 1;
	transition: opacity 200ms ease-in-out;
}
