// single item mode.
.gridWrapper {
  width: 100%;
  padding: 0 10px;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.gridHeaderWrapper {
  max-width: 1024px;
  margin: 10px auto 0;
}

div.gridHeader {
  width: 100%;
  font-weight: bold;
  color: #666666;
  min-height: 26px;
  font-size: 15px;
  font-style: italic;
  border-bottom: 1px solid black;
  border-radius: 0;
}

.scrollableGridRows {
  width: 100%;
  flex: 1;
  overflow: scroll;
  position: relative;
  padding-top: 4px;
}

.gridRowsWrapper {
  max-width: 1024px;
  margin: 0 auto;
}

.gridRow {
  display: flex;
  flex-direction: row;
  min-height: 35px;
  align-items: flex-start;
  border-radius: 4px;

  &>div {
    margin-right: 4px;
    padding-top: 2px;
  }
}

div.orderCol {
  flex: 0 0 40px;
  display: flex;
  padding-left: 2px;
  padding-top: 8px;
  color: #999999;
  svg {
    color: #cccccc;
  }
}
.titleCol {
  flex: 0 0 150px;
  input {
    width: 100%;
  }
}
.dataTypeCol {
  flex: 0 0 200px;
}
.examplesCol {
  flex: 1 0 80px;
}
.optionsCol {
  flex: 2;
}

div.deleteCol, div.helpCol {
  flex: 0 0 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding-top: 7px;

  svg {
    fill: #333333;
  }

  &:hover {
    svg {
      fill: #000000;
    }
  }
}

.addRows {
  span, input {
    margin-right: 6px;
  }
  input {
    width: 42px;
  }
}

.emptyCol {
  color: #999999;
  padding: 7px 2px;
}
