.grid {
  margin-bottom: 10px;
}
div.gridHeader {
  font-weight: bold;
  color: #666666;
  min-height: 26px;
  font-size: 15px;
  font-style: italic;
  border-bottom: 1px solid black;
  border-radius: 0;
}

.scrollableGridRows {
  flex: 1;
  overflow: scroll;
  position: relative;
  padding-top: 4px;
  //&:after {
  //  position: fixed;
  //  top: 0;
  //  height: 10px;
  //  width: 100%;
  //  content: "";
  //  background: linear-gradient(to bottom, rgba(255,255,255, 1) 20%, rgba(255,255,255, 0) 80%);
  //  pointer-events: none; /* so the text is still selectable */
  //}
}

.gridRow {
  display: flex;
  flex-direction: row;
  min-height: 35px;
  align-items: flex-start;
  border-radius: 4px;

  &>div {
    margin-right: 4px;
    padding-top: 2px;
  }
}

div.orderCol {
  flex: 0 0 22px;
  padding-left: 2px;
  padding-top: 8px;
  color: #999999;
}
.titleCol {
  flex: 0 0 150px;
  input {
    width: 100%;
  }
}
.dataTypeCol {
  flex: 0 0 200px;
}
.examplesCol {
  flex: 1 0 80px;
}
.optionsCol {
  flex: 2;
}

div.deleteCol, div.helpCol {
  flex: 0 0 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding-top: 7px;

  svg {
    fill: #333333;
  }

  &:hover {
    svg {
      fill: #000000;
    }
  }
}

.addRows {
  span, input {
    margin-right: 6px;
  }
  input {
    width: 42px;
  }
}

.emptyCol {
  color: #999999;
  padding: 7px 2px;
}
