@import "../../../styles/variables";

.contentPanel {
	display: flex;
	overflow: hidden !important;
}
.dataTypeList {
	flex: 0 0 200px;
	margin-right: 15px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	font-size: 13px;

	input {
		width: 100%;
		flex: 0 0 auto;
	}

	ul {
		margin: 0;
		list-style: none;
		padding: 0 0 0 10px;
		font-size: 12px;
		line-height: 20px;
	}
	li {
		color: $primary-color;
		cursor: pointer;
		&:hover {
			text-decoration: underline;
		}
	}
}
.helpContent {
	position: relative;
	flex: 1;
	padding-bottom: 15px;
	overflow: scroll;
	font-size: 13px;
	line-height: 21px;
	p:first-child {
		margin-top: 0;
	}
}

.list {
	flex: 1;
	overflow: scroll;
}

.spinner {
	position: absolute;
	top: calc(50% - 40px);
	left: calc(50% - 40px);

	&.fadeOut {
		opacity: 0;
		transition: opacity .25s ease-in-out;
	}
}

.dialog {
	width: 800px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
