.header {
	font-weight: bold;
	font-size: 13px;
	color: #666666;
	padding-top: 2px;
	border-bottom: 1px solid #333333;
}

.row {
	display: flex;
	width: 100%;
	padding: 6px;
	align-items: center;
	font-size: 13px;
}
