.header {
	font-weight: bold;
	font-size: 13px;
	color: #666666;
	padding-top: 2px;
	border-bottom: 1px solid #333333;
}

.row {
	display: flex;
	width: 100%;
	padding: 6px;
	align-items: center;
	font-size: 13px;
}

.colHeader {
	display: flex;
	align-items: center;

	&.sortable {
		cursor: pointer;

		svg {
			font-size: 20px;
			margin-right: 6px;
		}

		&:hover {
			svg {
				fill: #111111;
			}
		}
	}

	span {
		flex: 1;
	}
}
