:global(.Resizer) {
	background: #000;
	opacity: 0.1;
	z-index: 1;
	box-sizing: border-box;
	background-clip: padding-box;

	&:hover {
		transition: opacity .2s ease-in-out;
	}

	&:global(.horizontal) {
		flex: 0 0 auto;
		height: 5px;
		margin: 0;
		cursor: row-resize;
		width: 100%;

		&:hover {
			opacity: 0.3;
		}
	}

	&:global(.vertical) {
		width: 5px;
		margin: 0;
		cursor: col-resize;

		&:hover {
			opacity: 0.3;
		}
	}

	&:hover(.disabled) {
		cursor: not-allowed;

		//&:hover {
		//	border-color: transparent;
		//}
	}
}

.controlRow {
	display: flex;
	flex-direction: row;
	padding: 6px 10px;
	justify-content: flex-end;
}

