@import '../../../styles/variables';

.tabContent {
	padding: 20px;
}

.row {
	display: flex;
	flex-direction: row;
	height: 40px;
	align-items: center;
}

.label {
	flex: 0 0 180px;
}

.field {
	flex: 1;
}

.panelHorizontal {
	width: 100%;
}

.panel {
	display: flex;
	flex-direction: column;
	width: 400px;
	height: 100%;

	button {
		width: 50%;
	}
	section {
		flex: 1;
	}
	footer {
		padding: 15px;
		button {
			width: 100%;
		}
	}
}

.exportFormatRow {
	background-image: url("./images/bg.png");
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	height: inherit;
	.label {
		font-size: 14px;
		flex: 0 0 140px;
	}
}


.spinner {
	position: absolute;
	top: calc(50% - 40px);
	left: calc(50% - 40px);

	&.fadeOut {
		opacity: 0;
		transition: opacity .25s ease-in-out;
	}
}

