.container {
	font-size: 12px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	display: none;
}

.content {
	background-color: white;
	margin: 10px;
}

.bg {
	background-color: black;
	opacity: 0.1;
}