.tabContent {
	padding: 20px;
	line-height: 28px;
}

.row {
	display: flex;
	flex-direction: row;
	height: 40px;
	align-items: center;
}

.label {
	flex: 0 0 180px;
}

.field {
	flex: 1;
}

.panelHorizontal {
	width: 100%;
}

.panelVertical {
	width: 400px;
}
