@import "../../../styles/variables";

.gridWrapper {
	width: 100%;
	padding: 0 10px;
	height: 100%;
	flex: 1;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}

.gridHeaderWrapper {
	max-width: 1024px;
	margin: 15px auto 0;
}

div.gridHeader {
	width: 100%;
	font-weight: bold;
	color: #666666;
	min-height: 26px;
	font-size: 13px;
	border-bottom: 1px solid black;
	border-radius: 0;

	.orderCol {
		font-style: italic;
		color: #cccccc;
		padding: 0 0 0 17px;
		margin-top: 4px;
		font-size: 10px;
	}
}

.smallScreenMode {
	display: none;
	position: absolute;
	right: 10px;
	margin: 2px 0 0;
	font-size: 10px;
	cursor: pointer;
}

.scrollableGridRows {
	width: 100%;
	flex: 1;
	overflow: scroll;
	position: relative;
	padding-top: 4px;
}

.gridRowsWrapper {
	max-width: 1024px;
	margin: 0 auto;
}

.grid {
	margin-bottom: 12px;
}

.gridRow {
	display: flex;
	flex-direction: row;
	min-height: 35px;
	align-items: flex-start;
	border-radius: 4px;

	& > div {
		margin-right: 4px;
		padding-top: 2px;
	}
}

div.orderCol {
	flex: 0 0 40px;
	display: flex;
	margin-top: 6px;
	padding: 4px 0 2px 2px;
	color: #999999;
	svg {
		color: #cccccc;
	}
}

.titleCol {
	flex: 2;
	input {
		width: 100%;
	}
}

.dataTypeCol {
	flex: 2;
	display: flex;
	align-items: center;
}

.dataTypeColDropdown {
	flex: 1;
	margin-right: 3px;
}

.dataTypeHelp {
	flex: 0 0 15px;
	font-size: 16px;
	svg {
		color: $primary-color;
		cursor: pointer;
		margin-top: 5px;
	}
}

.examplesCol {
	flex: 2;
}

.optionsCol {
	flex: 3;
}

div.deleteCol, div.settingsIconCol {
	flex: 0 0 30px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	padding-top: 8px;

	svg {
		fill: #333333;
		transition: fill 0.5s ease-in-out;
	}
}

div.settingsIconCol svg.disabledBtn {
	fill: #eeeeee;
	cursor: default;
}

div.deleteCol {
	margin-right: 0;
	&:hover {
		svg {
			fill: #990000;
		}
	}
}

.addRows {
	display: inline-flex;
	align-items: center;
	margin-bottom: 12px;
	font-size: 12px;

	span, input {
		margin-right: 6px;
	}

	input {
		height: 28px;
	}

	input {
		width: 42px;
	}

	button {
		font-size: 11px;
		min-width: 60px;
	}
}

div.settingsIconCol {
	display: none;
}

.gridSmall {
	.examplesCol, .optionsCol {
		display: none;
	}
	.smallScreenMode, .settingsIconCol {
		display: inherit;
	}
}

.gridMedium {
	.examplesCol {
		display: none;
	}
	.smallScreenMode {
		display: block;
	}
}

.disabledBtn {
	fill: #eeeeee;
}

.smallScreenSpinner {
	margin-top: -2px !important;
}

.smallScreenSettingsTooltip {
	padding: 10px;
	width: 280px;

	h4 {
		margin: 0 0 5px;

		&:nth-child(2) {
			margin-top: 10px;
		}
	}
}

.gridOverlay {
	flex: 1;
	height: 100%;
	background-color: #f2f2f2;
}
