@import "../../styles/variables";

.header {
	background-color: $bg-color;
    padding: 0 20px;

	img {
		cursor: pointer;
	}

    & > div {
        max-width: 1400px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    h1 {
        flex: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
		margin: 4px 0 4px;

        svg {
            fill: #000000;
            transform: rotate(-10deg);
            margin-right: 10px;
        }
    }

    section {
        float: right;
    }

    nav {
        flex: 0 0 auto;
        display: flex;
        align-items: center;

        ul {
            display: inline-block;
            list-style: none;
            font-size: 14px;

            li {
                display: inline-block;
                margin: 0 8px;

                &.current a {
                    color: #000000;
                }
            }
        }
    }

    a {
        text-decoration: none;
    }

    svg {
        fill: #aaaaaa;
    }

	.items {
		margin: 0 6px 0 12px;
		background-color: #ffffff;
		box-shadow: 0 1px 1px #cccccc;

		&>button {
			border: 0;
		}
	}
}

.btnSelected {
    svg {
        fill: #aaaaaa;
    }
}

.toggleLayoutBtn {
	border: 1px solid rgba(0, 0, 0, 0.23);
	border-right: 0;
	width: 40px;

	button {
		height: 30px;
		width: 40px;
		min-width: inherit;
	}
}

.toggleLayoutBtnDisabled {
	svg {
		fill: #dddddd;
	}
}
