@import "../../../styles/variables";

div.contentPanel {
	display: flex;
	align-items: center;
	overflow: hidden !important;
	padding: 10px 16px;

	svg {
		color: orange;
		font-size: 50px;
		margin-right: 10px;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;

		li {
			display: flex;
			margin-bottom: 4px;
		}

		input {
			margin-right: 5px;
		}
	}
}
