/* to workaround limitations with Griffel - makeStaticStyles doesn't support nested selectors */
#overlayPanelFullScreen > div {
  height: 100%;
}

input:focus,
textarea:focus,
select:focus {
  border: 1px solid #2684ff;
}

svg,
path,
g {
  outline: none;
}
