.cols {
	display: flex;
	flex-direction: row;
}

.col {
	flex: 1;

	h3 {
		margin-top: 0;
	}

	:global(.MuiButtonBase-root) {
		margin-bottom: 8px;

		svg {
			margin-left: -4px;
			margin-right: 6px;
		}
	}
}

.separator {
	margin: 0 25px;
	position: relative;
	display: flex;
	align-items: center;
	border-left: 1px solid #efefef;
}

svg.tourMask {
	opacity: 0.6;
	color: #0e365c;
}

.introDialog {
	font-size: 13px;

	p {
		line-height: 20px;
	}
}

.buttonCol {
	font-size: 12px;
}
