@import "../../../styles/variables";

.loginDialog {
	label {
		color: #999999;
	}
	input {
		font-size: 14px;
	}
}

.withSecondCol {
	display: flex;
	flex-direction: row;
}

.col {
	flex: 1;
}

.separator {
	margin: 0 25px;
	position: relative;
	display: flex;
	align-items: center;
	border-left: 1px solid #efefef;

	&>div {
		position: absolute;
		left: -8px;
		background-color: white;
		padding: 2px;
		color: #555555;
	}
}

div.actionsRow {
	justify-content: space-between;
}

.forgotPasswordLink {
	margin-left: 10px;
	color: #666666;
	cursor: pointer;

	&:hover {
		color: $primary-color;
		text-decoration: underline;
	}
}
