.loginDialog {
	label {
		color: #999999;
	}
	input {
		font-size: 14px;
	}
}

.withSecondCol {
	display: flex;
	flex-direction: row;
}

.col {
	flex: 1;
}

.separator {
	margin: 0 25px;
	position: relative;
	display: flex;
	align-items: center;
	border-left: 1px solid #efefef;

	&>div {
		position: absolute;
		left: -8px;
		background-color: white;
		padding: 2px;
		color: #555555;
	}
}
