@import "../../../styles/variables";

.dataTemplateDialog {
	height: 100%;

	:global(.MuiDialog-paper) {
		height: 100%;
	}

	.actions {
		button {
			svg {
				fill: $primary-color;
				height: 18px;
				width: 18px;
				margin-right: 6px;
				margin-left: -4px;
			}
		}
	}

	h4 {
		margin-top: 0;
	}

	:global(.MuiDialogContent-root) {
		font-size: 13px;
		line-height: 20px;
	}

	.content {
		height: 450px;
		&>* {
			height: 100%;
			&>* {
				height: 100%;
			}
		}
	}
}

.dataTemplateDialogInner {
	width: 800px;
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
