.header {
    border-bottom: 1px solid #cccccc;
    padding: 0 20px;

    & > div {
        max-width: 1400px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    h1 {
        flex: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
		margin: 18px 0 8px;

        svg {
            fill: #000000;
            transform: rotate(-10deg);
            margin-right: 10px;
        }
    }

    section {
        float: right;
    }

    nav {
        flex: 0 0 auto;
        display: flex;
        align-items: center;

        ul {
            display: inline-block;
            list-style: none;
            font-size: 14px;

            li {
                display: inline-block;
                margin: 0 8px;

                &.current a {
                    color: #000000;
                }
            }
        }
    }

    a {
        text-decoration: none;
    }

    svg {
        fill: #dddddd;
    }
}

.btnSelected {
    svg {
        fill: #aaaaaa;
    }
}
