.header {
  border-bottom: 1px solid #cccccc;

  &>div {
    width: 950px;
    margin: 0 auto;
  }

  h1 {
    display: inline-block;
  }

  section {
    float: right;
  }

  nav {
    float: right;

    ul {
      display: inline-block;
      list-style: none;
    }
  }
}
