.header {
  border-bottom: 1px solid #cccccc;
  padding: 0 20px;

  &>div {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  h1 {
    display: inline-block;
    flex: 1;
  }

  section {
    float: right;
  }

  nav {
    flex: 0 0 auto;

    ul {
      display: inline-block;
      list-style: none;
      font-size: 14px;

      li {
        display: inline-block;
        margin: 0 8px;
      }
    }
  }
  a {
    text-decoration: none;
  }

  svg {
	  fill: #dddddd;
  }

  .btnSelected {
	  svg {
		  fill: #aaaaaa;
	  }
  }
}
