@import "../../../styles/variables";

div.contentPanel {
	display: flex;
	align-items: center;
	overflow: hidden !important;
	padding: 10px 16px;

	img {
		margin-right: 15px;
	}

	svg {
		color: orange;
		font-size: 50px;
		margin-right: 10px;
	}
}
