<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset={+IO.encoding+}" />
	{! Link.base = ""; /* all generated links will be relative to this */ !}
	<title>JsDoc Reference - File Index</title>
	<meta name="generator" content="JsDoc Toolkit" />
	
	<link media="all" rel="stylesheet" href="{+Link.base+}css/common.css" type="text/css" />
	<link media="all" rel="stylesheet" href="{+Link.base+}css/prettify.css" type="text/css" />
	<link media="all" rel="stylesheet" href="{+Link.base+}css/bootstrap.min.css" type="text/css" />
	<link media="print" rel="stylesheet" href="{+Link.base+}css/print.css" type="text/css" />
	<style type="text/css">
		.icon-jsdoc {
			background: url("{+Link.base+}img/classicons.png") no-repeat;
		}
	</style>
	<script src="{+Link.base+}js/jquery-1.7.2.min.js" type="text/javascript"></script>
	<script src="{+Link.base+}js/bootstrap.min.js" type="text/javascript"></script>
	<script src="{+Link.base+}js/prettify.js" type="text/javascript"></script>
	<script src="{+Link.base+}js/accordion.js" type="text/javascript"></script>
</head>

<body onload="prettyPrint()">
<div class="container-fluid">
	<header class="header navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="brand" href="#"><strong>JsDoc</strong> Reference</a>
				<ul id="class-file-selector" class="nav">
					<li><a href="{+Link.base+}index.html">Class Index</a></li>
					<li><a href="{+Link.base+}files.html">File Index</a></li>
				</ul>
			</div>
		</div>
	</header>
		
	<div class="row-fluid">
		<div id="index" class="span3">
			{+publish.classesIndex+}
		</div>
		
		<div id="content jsdoc-members" class="span9">
			<h1 class="classTitle">File Index</h1>
			
			<for each="item" in="data">
			<div class="jsdoc-member">
				<div class="jsdoc-member-definition">{+new Link().toSrc(item.alias).withText(item.name)+}</div>
				<div class="jsdoc-member-description">
					<div class="jsdoc-member-summary">
						{+ createDescription(item.desc) +}
					</div>
					<if test="item.author || item.version || (locations && locations.length)">
						<div class="jsdoc-member-detail">
							<dl>
								<if test="item.author">
									<dt class="heading">Author:</dt>
									<dd>{+item.author+}</dd>
								</if>
								<if test="item.version">
									<dt class="heading">Version:</dt>
										<dd>{+item.version+}</dd>
								</if>
								{! var locations = item.comment.getTag('location').map(function($){return $.toString().replace(/(^\$ ?| ?\$$)/g, '').replace(/^HeadURL: https:/g, 'http:');}) !}
								<if test="locations && locations.length">
									<dt class="heading">Location:</dt>
										<for each="location" in="locations">
										<dd><a href="{+location+}">{+location+}</a></dd>
										</for>
								</if>
							</dl>
						</div>
					</if>
				</div>
			</div>
			</for>
		</div>
	</div>
	<footer class="footer">
		<if test="JSDOC.opt.D.copyright"><p>&copy;{+JSDOC.opt.D.copyright+}</p></if>
		<p>Documentation generated by <a href="http://code.google.com/p/jsdoc-toolkit/" target="_blankt">JsDoc Toolkit</a> {+JSDOC.VERSION+} on {+new Date()+}</p>
	</footer>
	<script type="text/javascript">
		<!--
		$('.jsdoc-member').click(function() {
			$(this).find('.jsdoc-member-detail').slideToggle();
		});
		// -->
	</script>
</div>
</body>
</html>
