<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset={+IO.encoding+}" />

	<title>JsDoc Reference - Index</title>
	<meta name="generator" content="JsDoc Toolkit" />

	<link media="all" rel="stylesheet" href="{+Link.base+}css/common.css" type="text/css" />
	<link media="all" rel="stylesheet" href="{+Link.base+}css/prettify.css" type="text/css" />

    <link href="../assets/css/bootstrap.css" rel="stylesheet">
    <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="../assets/css/docs.css" rel="stylesheet">

	<link media="print" rel="stylesheet" href="{+Link.base+}css/print.css" type="text/css" />
	<style type="text/css">
		.icon-jsdoc {
			background: url("{+Link.base+}img/classicons.png") no-repeat;
		}
	</style>
	<script src="{+Link.base+}js/jquery-1.7.2.min.js" type="text/javascript"></script>
	<script src="{+Link.base+}js/bootstrap.min.js" type="text/javascript"></script>
	<script src="{+Link.base+}js/prettify.js" type="text/javascript"></script>
	<script src="{+Link.base+}js/accordion.js" type="text/javascript"></script>
</head>

<body onload="prettyPrint()"><div class="container-fluid">
	<header class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="brand" href="#"><strong>JsDoc</strong> Reference</a>
				<ul class="nav">
	              <li class="dropdown active">
	              	<a class="dropdown-toggle" data-toggle="dropdown" href="#">
	              		Doc Section
	              		<b class="caret"></b>
	              	</a>
			        <ul class="dropdown-menu">
			          <li><a href="./">Developer Doc</a></li>
			          <li><a href="phpdoc/">PHP Documentation</a></li>
			          <li><a href="jsdoc/">JS Documentation</a></li>
			        </ul>
	              </li>
		          <li><a href="../core.php">The Core Script</a></li>
		          <li><a href="../dataTypes.php">Data Types</a></li>
		          <li><a href="../exportTypes.php">Export Types</a></li>
		          <li><a href="../countryData.php">Country Data</a></li>
		          <li><a href="../translations.php">Translations</a></li>
				</ul>
			</div>
		</div>
	</header>
	<div class="row-fluid">

		<section>
		<div id="index" class="span3">
			<div id="class-list" class="well">
				<ul class="nav nav-list">
					<li class="nav-header">JSDoc Navigation</li>
					<li><a href=""><span style="padding-left:0px;" class="indent"><span class="jsdoc-class-index">JS Modules index</span></span></a></li>
					<li><a href=""><span style="padding-left:0px;" class="indent"><span class="jsdoc-class-index">Files</span></span></a></li>
				</ul>
			</div>
			{+publish.classesIndex+}
		</div>

		<div id="content" class="span9">
			<h1 class="classTitle">Class Index</h1>
			<div class="jsdoc-members">
				<for each="thisClass" in="data">
					<div class="jsdoc-member{+ thisClass.params.length || thisClass.returns.length ? ' accordion-button' : '' +}">
						<div class="jsdoc-member-definition">
							<b>{+ new Link().toSymbol(thisClass.alias).withText(thisClass.name).setAttribute('id', thisClass.name) +}</b>
							{+ makeSignature(thisClass.params) +}
							<if test="thisClass.isInterface"><span class="label label-jsdoc label-jsdoc-interface">Interface</span> </if>
							<if test="thisClass.hasMethod('getInstance')"><span class="label label-jsdoc label-jsdoc-singleton">Singleton</span> </if>
							<if test="thisClass.deprecated"><span class="label label-jsdoc label-jsdoc-deprecated">Deprecated</span> </if>
							<if test="thisClass.isPrivate"><span class="label label-jsdoc label-jsdoc-private">Private</span> </if>
							<if test="thisClass.isProtected"><span class="label label-jsdoc label-jsdoc-protected">Protected</span> </if>
							<if test="thisClass.isInner"><span class="label label-jsdoc label-jsdoc-inner">Inner</span> </if>
							<if test="thisClass.isStatic"><span class="label label-jsdoc label-jsdoc-static">Static</span></if>
						</div>
						<div class="jsdoc-member-description">
							<div class="jsdoc-member-content">
								<div class="jsdoc-member-summary">
									{+ createDescription(thisClass.desc) +}
									<span class="pull-right">{+ new Link().toSrc(thisClass.srcFile).withText('code »').inner(thisClass.srcLineNum ? 'line' + thisClass.srcLineNum : '') +}</span>
								</div>
								<if test="thisClass.example.length">
									<for each="example" in="thisClass.example">
										<pre class="prettyprint linenums">{+ example +}</pre>
									</for>
								</if>
								<if test="thisClass.deprecated">
									<div class="jsdoc-member-deprecated jsdoc-member-info">
										<span class="label label-jsdoc label-jsdoc-deprecated">Deprecated</span>
										{+ createDescription(thisClass.deprecated) +}
									</div>
								</if>
								<if test="thisClass.requires.length">
									<div class="jsdoc-member-require jsdoc-member-info">
										<span class="label label-jsdoc label-jsdoc-requires">Requires</span>
										<for each="symbol" in="thisClass.requires">
											<span class="jsdoc-symbol-enum">{+ new Link().toSymbol(symbol) +}</span>
										</for>
									</div>
								</if>
								<if test="thisClass.exceptions.length">
									<div class="jsdoc-member-exception jsdoc-member-info">
										<span class="label label-jsdoc label-jsdoc-exceptions">Throws</span>
										<for each="symbol" in="thisClass.exceptions">
											<span class="jsdoc-symbol-enum">{+ new Link().toSymbol(symbol) +}</span>
										</for>
									</div>
								</if>
								<if test="thisClass.see.length">
									<div class="jsdoc-member-see jsdoc-member-info">
										<span class="label label-jsdoc label-jsdoc-see">See</span>
										<for each="symbol" in="thisClass.see">
											<span class="jsdoc-symbol-enum">{+ new Link().toSymbol(symbol) +}</span>
										</for>
									</div>
								</if>
								<if test="thisClass.since">
									<div class="jsdoc-member-since jsdoc-member-info">
										<span class="label label-jsdoc label-jsdoc-since">Since</span>
										{+ thisClass.since +}
									</div>
								</if>
								<if test="thisClass.params.length || thisClass.returns.length">
									<div class="jsdoc-member-detail accordion-content">
										<if test="thisClass.params.length">
											<b>Parameters</b>
											<dl>
												<for each="param" in="thisClass.params">
													<dt>{+ param.name +} : {+ createTypeLink(param.type) +}</dt>
													<dd>{+ createDescription(param.desc) +}</dd>
												</for>
											</dl>
										</if>
										<if test="thisClass.returns.length">
											<b>Returns</b>
											<dl>
												<for each="param" in="thisClass.returns">
													<dt>{+ createTypeLink(param.type) +}</dt>
													<dd>{+ createDescription(param.desc) +}</dd>
												</for>
											</dl>
										</if>
									</div>
								</if>
							</div>
						</div>
					</div>
				</for>
			</div>
		</div>

		</section>

	</div>
	<footer class="footer">
		<if test="JSDOC.opt.D.copyright"><p>&copy;{+JSDOC.opt.D.copyright+}</p></if>
		<p>Documentation generated by <a href="http://code.google.com/p/jsdoc-toolkit/" target="_blankt">JsDoc Toolkit</a> {+JSDOC.VERSION+} on {+new Date()+}</p>
	</footer>
</div></body>
</html>
