<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset={+IO.encoding+}" />
	<title>Source - {+data.file+}</title>
	<meta name="generator" content="JsDoc Toolkit" />

	<link media="all" rel="stylesheet" href="{+Link.base+}css/common.css" type="text/css" />
	<link media="all" rel="stylesheet" href="{+Link.base+}css/bootstrap.min.css" type="text/css" />
	<link media="all" rel="stylesheet" href="{+Link.base+}css/prettify.css" type="text/css" />
	<link media="print" rel="stylesheet" href="{+Link.base+}css/print.css" type="text/css" />
	<style type="text/css">
		.icon-jsdoc {
			background: url("{+Link.base+}img/classicons.png") no-repeat;
		}
	</style>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
	<script src="{+Link.base+}js/prettify.js" type="text/javascript"></script>
	<script src="{+Link.base+}js/bootstrap.min.js" type="text/javascript"></script>
</head>
<body><div class="container-fluid">
<!-- ============================== header ================================= -->
	<!-- begin static/header.html -->
	<header class="header navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="brand" href="#"><strong>JsDoc</strong> Reference</a>
				<ul id="class-file-selector" class="nav">
					<li><a href="{+Link.base+}index.html">Class Index</a></li>
					<li><a href="{+Link.base+}files.html">File Index</a></li>
				</ul>
			</div>
		</div>
	</header>
	<!-- end static/header.html -->

<!-- ============================== classes index ============================ -->
	<div class="row-fluid">
		<div id="index" class="span3">
			<!-- begin publish.classesIndex -->
			{+publish.classesIndex+}
			<!-- end publish.classesIndex -->
		</div>

		<div id="content" class="span9">
<!-- ============================== source code ============================ -->

			<pre id="source-code" class="prettyprint linenums">{+data.source+}</pre>
		</div>
	</div>

<!-- ============================== footer ================================= -->
	<footer class="footer">
		<if test="JSDOC.opt.D.copyright"><p>&copy;{+JSDOC.opt.D.copyright+}</p></if>
		<p>Documentation generated by <a href="http://code.google.com/p/jsdoc-toolkit/" target="_blankt">JsDoc Toolkit</a> {+JSDOC.VERSION+} on {+new Date()+}</p>
	</footer>
</div>
<script type="text/javascript">
	prettyPrint();
	var i = 1;
	$('#source-code li').each(function() {
		$(this).attr({ id: 'line' + (i++) });
	});
</script>
</body>
</html>
