/* contains styles for the generator table */
hr.divider {
	color: #efefef;
	margin: 16px 0px 0px;
}
#gdTableRows {
	li.gdDeletedRow {
		color: #ffffcc;
		label, div {
			color: #ffffcc;
		}
	}
	&>li:nth-child(even) {
		background-color: #edf3fe;
	}
	&>li:nth-child(odd) {
		background-color: #efefef;
	}
}
/* needed to override the nth-child style above */
body #gdTableRows li.gdDeletedRow {
	background-color: #660000;
}
.gdTableHeadings {
	line-height: 18.6px;
	li {
		background: -webkit-gradient(linear, left top, left bottom, from(#dddddd), to(#cccccc), color-stop(0.5, #cccccc), color-stop(0.5, #cccccc));
		background: -moz-linear-gradient(bottom, #dddddd, #cccccc);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dddddd', endColorstr='#cccccc');
		float: left;
		text-align: center;
		height: 20px;
		margin: 0px 0px 0px 1px;
		padding: 0px;
	}
}
.gdTableHeadings, #gdTableRows, #gdTableRows ul {
	font-family: tahoma, arial;
	clear: both;
	margin: 0px;
	padding: 0px;
	list-style: none;
	font-weight: bold;
}
#gdTableRows {
	margin-bottom: 8px;

	li {
		float: left;
		margin: 0px 0px 1px 1px;
		padding: 0px;
		font-weight: normal;
		font-family: verdana;
		line-height: 16pt;
	}
}
.gdColOrder {
	cursor: move;
	width: 40px;
	text-align: center;
}
.gdColTitle {
	width: 136px;
	input {
		width: 130px;
	}
}
.gdColDataType {
	width: 198px;
	select {
		width: 198px;
	}
}
.gdColExamples {
	width: 198px;
}
.gdColOptions {
	width: 274px;
}
.gdColHelp {
	width: 38px;
	text-align: center;
}
li.gdColDelete {
	width: 38px;
	text-align: center;
	display: block;
}
#gdHelpPopup {
	p {
		margin: 5px 0px 12px;
	}
	h4 {
		margin: 0px;
	}
	padding-left: 54px;
	background: transparent url(../../images/info.png) 10px 10px no-repeat;
}
#gdEmptyForm {
	float: right;
}
#gdTextSize {
	float: right;
	list-style: none;
	li {
		float: left;
		width: 18px;
		vertical-align: top;
	}
	.small {
		font-size: 8pt;
	}
	.medium {
		font-size: 12pt;
	}
	.large {
		font-size: 16pt;
	}
}
#gdGeneratedData {
	height: 400px;
	width: 100%;
}
#gdProcessingIcon {
	position: absolute;
	top: 6px;
	right: 0px;
	width: 16px;
	height: 16px;
}
.gdSmallTabs {
	ul {
		list-style: none;
		margin: 0px;
		padding: 0px;
		height: 20px;
		border-bottom: 1px solid #e1e1e1;

		li {
			line-height: 19px;
			height: 20px;
			float: left;
			margin-right: 2px;
			padding: 0px 16px;
			border-top-left-radius: 6px;
			border-top-right-radius: 6px;
			background: #f2f2f2;
			background: -moz-linear-gradient(top,  #f2f2f2 0%, #e1e1e1 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#e1e1e1));
			background: -webkit-linear-gradient(top,  #f2f2f2 0%,#e1e1e1 100%);
			background: -o-linear-gradient(top,  #f2f2f2 0%,#e1e1e1 100%);
			background: -ms-linear-gradient(top,  #f2f2f2 0%,#e1e1e1 100%);
			background: linear-gradient(to bottom,  #f2f2f2 0%,#e1e1e1 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#e1e1e1',GradientType=0 );
			cursor: pointer;			

			.gdSelected { 
				background: white;
				background-color: white;
				border: 1px solid #cccccc;
				border-bottom: 0px;
			}
		}
	}
	.gdExportTypeTabSettings {
		clear: both;
		border-top: 0px;
		padding: 6px;
		margin: 0px;
		display: none;
	}
	#gdShowSettingsLink {
		float: right;
		span {
			font-size: 7pt;
		}
		a {
			font-size: 7pt;
			color: #3366CC;
		}
	}
}
#gdGenerateSection {
	background-color: #f2f2f2;
	border-radius: 3px;
	padding: 20px;
	border: 1px solid #bbbbbb;
}
a.gdDisabledLink {
	color: #cccccc;	
}