/* general styles */
html {
	overflow: -moz-scrollbars-vertical;
	height: 100%;
}
body {
	height: 100%;
	margin: 0px;
	text-align: center;
	/*background-color: #F6F8FA;*/
	border-top: 5px solid #4B5C66;
}
body, table, td, div, span, div, p {
	font: 12px/1.35 'lucida grande', tahoma, verdana, arial, sans-serif;
	color: #4B5C66;
}
table, td, p, div, input, select, optgroup, noscript {
	line-height: 15px;
}
input, select, textarea, option {
	font: 12px/1.35 'lucida grande', tahoma, verdana, arial, sans-serif;
	color: #222222;
}
h1 {
color: #4B5C66;
-webkit-font-smoothing: antialiased;
text-shadow: 0 1px rgba(255, 255, 255, 0.5);
font: normal normal 20px/26px  'lucida grande', tahoma, verdana, arial, sans-serif;
}
h2 {
	font-size: 0.81em;
	
	color: green;
	font-weight: normal;
	font-family: inherit;
}
h3 {
	margin: 2em 0px 1em;
	font-family: sans-serif;
	font-variant: normal;
	text-transform: uppercase;
	font-size: 12px;
}
p {
	margin: 6px 0px;
}
hr {
	color: #efefef;
	background-color: #E1E6E9;
	height: 1px;
	border: 0px;
}

form {
	margin: 0px;
}
select, optgroup, option {
	font: 12px 'lucida grande', tahoma, verdana, arial, sans-serif;
}
optgroup {
	font-weight: bold;
}

a:link, nav a:visited {
	color: #2d99f5;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
#gdLogin_password {
	margin: 0px;
}
#gdLogin_email {
	width: 200px;
}