/* general styles */
html {
	overflow: -moz-scrollbars-vertical;
	height: 100%;
}
body {
	height: 100%;
	margin: 0px;
	text-align: center;
}
body, table, td, div, span, div, p {
	font: 12px "lucida grande";
	line-height: 20px;
	color: #555555;
}
table, td, p, div, input, select, optgroup, noscript {
	line-height: 17pt;
}
input, select, textarea, option {
	font: 12px "lucida grande";
	color: #222222;
}
h1 {
	font-size: 1.6em;
	font-weight: normal;
}
h2 {
	font-size: 1.2em;
	color: green;
	font-weight: normal;
	font-family: inherit;
}
h3 {
	margin: 10px 0px 7px;
}
p {
	margin: 6px 0px;
}
hr {
	color: #efefef;
	background-color: #efefef;
	height: 1px;
	border: 0px;
}
form {
	margin: 0px;
}
select, optgroup, option {
	font: 12px "lucida grande";
}
optgroup {
	font-weight: bold;
}
a:link, nav a:visited {
	color: #2d99f5;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
