header {
	position: relative;
	width: 930px;
	height: 93px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 8px;
	padding: 1em;
	display: block;
	/*border-top: 5px solid #4B5C66;*/
}
section {
	/*width: 500px;*/
	border-top: 2px solid #70B32D;
	border-bottom: none;
	background-color: white;
	width: 930px;
	margin: 0 auto;
	text-align: left;
	padding: 10px 0px;
	clear: left;
	display: block;
}
nav {
	display: block;
	a:link, a:visited {
		color: #3366cc;
		outline: none;
		text-shadow: 0 1px 0 #fff;
	}
}
footer {
	width: 930px;
	margin: 0 auto 10px;
	height: 20px;
	font-size: 7pt;
	/*background-color: #eeeeee;*/
	/*border-top: none;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-radius-bottomleft: 3px;
	border-radius-bottomright: 3px;*/
	display: block;

	a:link, a:visited {
		color: #555555;
		text-decoration: none;
		color: #3366cc;
		outline: none;
		&:hover {
			text-decoration: underline;
		}
	}
}

header nav {
	position: absolute;
	right: 1em;
	top: 1em;
	
	a:link, a:visited {
		text-decoration: none;
		color: #CDD0D5;
		text-decoration: none;
		-webkit-transition: color .2s;
		-moz-transition: color .2s;
		-o-transition: color .2s;
		transition: color .2s;
		
	}
	a:hover {
		color: #70B32D;
		-webkit-transition: color .2s;
		-moz-transition: color .2s;
		-o-transition: color .2s;
		transition: color .2s;
	}
}

#gdMainTabs {
	width: 930px;
	margin: 0 auto;
	position: relative;
	
	ul {
		list-style: none;
		margin: 0px;
		padding: 0px;
		font-size: 15px;
		line-height: 15px;
		li {
			color: #CDD0D5;
			/*text-shadow: 3px 3px 8px rgba(64, 64, 64, 0.2);*/
			cursor: pointer;
			margin: 0;
			padding: 0;
			float: left;
			width: 8em;
			background: linear-gradient(to bottom, #EFEFEF 0%, #E1E1E1 100%) repeat scroll 0 0 transparent;
			height: 22px;
			text-align: left;
			
			a:link, a:visited {
				display:block;
				
				/*text-shadow: rgba(64, 64, 64, 0.2) 3px 3px 8px;*/
				color: #CDD0D5;
				text-decoration: none;
				-webkit-transition: color .2s;
				-moz-transition: color .2s;
				-o-transition: color .2s;
				transition: color .2s;
			}
			&:hover {
				color: #70B32D;
				-webkit-transition: color .2s;
				-moz-transition: color .2s;
				-o-transition: color .2s;
				transition: color .2s;
			}
		}
		li.gdSelected {
			color: #70B32D;
			cursor: inherit;
			border-bottom: 0px;
			height: 22px;
			background-color: white;
			background: white;
			/*border: 1px solid #ffffff;*/
			border-bottom: 0px;
			line-height: 15px;
			&:hover {
				background-color: white;
			}
		}
	}
}
.gdMainTabContent {
	padding: 0px;
	margin: 0px;
	&>li {
		padding: 0px;
		margin: 0px;
		list-style: none;
	}
	h1 {
		float: left;
	}
	.gdSectionHelpTip {
		float:left;
		list-style: none;
		padding-left: 10px;
		padding-top: 17px;
	}
}
#gdMainTab1Content {
	display: block;
	h2 {
		margin: 4px 0px;
		font-size: 9px;
		color: #999999;
	}
	.gdFields {
		float: left;
	}
}
#gdContent {
	text-align: left;
	position: relative;
}
.cols2 {
	clear:both;
	position:relative;
}
.cols2 .col {
	float: left;
	width: 410px;
}
.gdSetting {
	position: relative;
	clear: left;
	line-height: 18pt;
	width: 500px;

	&>label {
		float: left;
		width: 160px;
	}
	&>div {
		float: left;
	}
}
.gdFields {
	line-height: 21px;
	width: 725px;

	.gdError {
		margin-left: 6px;
		background: transparent url(../images/error.gif) left center no-repeat;
		float: left;
		width: 315px;
		padding-left: 24px;
		color: #e22222;
		display: none;
	}
	input.pwdField {
		width: 100px;
	}
}
#consoleEventsModuleList {
	width: 400px;
}
