header {
  position: relative;
  width: 930px;
  height: 93px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 8px;
  padding: 1em;
  display: block;
  /*border-top: 5px solid #4B5C66;*/ }

section {
  /*width: 500px;*/
  border-top: 2px solid #70B32D;
  border-bottom: none;
  background-color: white;
  width: 930px;
  margin: 0 auto;
  text-align: left;
  padding: 10px 0px;
  clear: left;
  display: block; }

nav {
  display: block; }
  nav a:link, nav a:visited {
    color: #3366cc;
    outline: none;
    text-shadow: 0 1px 0 #fff; }

footer {
  width: 930px;
  margin: 0 auto 10px;
  height: 20px;
  font-size: 7pt;
  /*background-color: #eeeeee;*/
  /*border-top: none;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-radius-bottomleft: 3px;
  border-radius-bottomright: 3px;*/
  display: block; }
  footer a:link, footer a:visited {
    color: #555555;
    text-decoration: none;
    color: #3366cc;
    outline: none; }
    footer a:link:hover, footer a:visited:hover {
      text-decoration: underline; }

header nav {
  position: absolute;
  right: 1em;
  top: 1em; }
  header nav a:link, header nav a:visited {
    text-decoration: none;
    color: #CDD0D5;
    text-decoration: none;
    -webkit-transition: color .2s;
    -moz-transition: color .2s;
    -o-transition: color .2s;
    transition: color .2s; }
  header nav a:hover {
    color: #70B32D;
    -webkit-transition: color .2s;
    -moz-transition: color .2s;
    -o-transition: color .2s;
    transition: color .2s; }

#gdTabs {
  width: 930px;
  margin: 0 auto;
  position: relative; }
  #gdTabs ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    font-size: 15px;
    line-height: 15px; }
    #gdTabs ul li {
      color: #CDD0D5;
      /*text-shadow: 3px 3px 8px rgba(64, 64, 64, 0.2);*/
      cursor: pointer;
      margin: 0;
      padding: 0;
      float: left;
      width: 8em;
      background: linear-gradient(to bottom, #efefef 0%, #e1e1e1 100%) repeat scroll 0 0 transparent;
      height: 22px;
      text-align: left; }
      #gdTabs ul li a:link, #gdTabs ul li a:visited {
        display: block;
        /*text-shadow: rgba(64, 64, 64, 0.2) 3px 3px 8px;*/
        color: #CDD0D5;
        text-decoration: none;
        -webkit-transition: color .2s;
        -moz-transition: color .2s;
        -o-transition: color .2s;
        transition: color .2s; }
      #gdTabs ul li:hover {
        color: #70B32D;
        -webkit-transition: color .2s;
        -moz-transition: color .2s;
        -o-transition: color .2s;
        transition: color .2s; }
    #gdTabs ul li.gdSelected {
      color: #70B32D;
      cursor: inherit;
      border-bottom: 0px;
      height: 22px;
      background-color: white;
      background: white;
      /*border: 1px solid #ffffff;*/
      border-bottom: 0px;
      line-height: 15px; }
      #gdTabs ul li.gdSelected:hover {
        background-color: white; }

.gdTabContent {
  padding: 0px;
  margin: 0px; }
  .gdTabContent > li {
    padding: 0px;
    margin: 0px;
    list-style: none; }
  .gdTabContent h1 {
    float: left; }
  .gdTabContent .gdSectionHelpTip {
    float: left;
    list-style: none;
    padding-left: 10px;
    padding-top: 17px; }

#gdTab1Content {
  display: block; }
  #gdTab1Content h2 {
    float: left;
    width: 160px;
    margin: 4px 0px; }
  #gdTab1Content .gdFields {
    float: left; }

#gdContent {
  text-align: left;
  position: relative; }

.cols2 {
  clear: both;
  position: relative; }

.cols2 .col {
  float: left;
  width: 410px; }

.gdSetting {
  position: relative;
  clear: left;
  line-height: 18pt;
  width: 500px; }
  .gdSetting > label {
    float: left;
    width: 160px; }
  .gdSetting > div {
    float: left; }

.gdFields {
  line-height: 21px;
  width: 725px; }
  .gdFields .gdError {
    margin-left: 6px;
    background: transparent url(../../images/error.gif) left center no-repeat;
    float: left;
    width: 315px;
    padding-left: 24px;
    color: #e22222;
    display: none; }
  .gdFields input.pwdField {
    width: 100px; }

#consoleEventsModuleList {
  width: 400px; }
