/* misc stuff */
div.gdClear {
  clear: both; }

.joiner {
  color: #cccccc; }

.gdVerticalPad {
  padding-bottom: 10px; }

.gdMarginTop {
  margin-top: 10px; }

.hidden {
  display: none; }

.gdTip {
  color: #777777; }

.red {
  color: red; }

.bold {
  font-weight: bold; }

.gdDisabled {
  color: #cccccc;
  background-color: #efefef; }

.gdHideNoJS {
  display: none; }

.gdNoJS {
  background-color: #ffffcc;
  padding: 15px;
  font-size: 10pt;
  border-radius: 3px;
  margin: 10px 0px;
  text-shadow: 0 1px 0 #fff;
  box-shadow: 2px 4px 5px #666666; }

/* jQuery UI style overrides */
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {
  cursor: pointer; }

.ui-dialog {
  text-align: left; }

.ui-dialog-title {
  font-weight: bold; }

.gdColOptions .ui-datepicker-trigger {
  margin: 0px 0px -3px 1px;
  cursor: pointer; }

#gdTableRows .gdColHelp .ui-helper-clearfix {
  margin-left: 8px;
  margin-top: 2px; }

body .ui-widget-content {
  color: #555555; }

body .ui-widget-overlay {
  background: #333333 url(images/ui-bg_flat_0_333333_40x100.png) 50% 50% repeat-x;
  opacity: .30;
  filter: Alpha(Opacity=30); }

body .ui-widget-shadow {
  margin: -8px 0 0 -8px;
  padding: 8px;
  background: #333333 url(images/ui-bg_flat_0_333333_40x100.png) 50% 50% repeat-x;
  opacity: .30;
  filter: Alpha(Opacity=30);
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }

/* overridden Chosen styles */
body .chzn-container-multi .chzn-choices .search-choice {
  margin-left: 3px;
  padding: 0px 20px 2px 5px;
  margin-bottom: 1px; }

body .chzn-container-multi .chzn-choices .search-field .default {
  font: 11px Verdana, sans-serif; }

body .chzn-container-multi .chzn-choices {
  background-image: none;
  padding-bottom: 2px;
  border: 1px solid #E1E6E9;
  background-color: #F0F2F4; }

/* plugin installation */
#gdPluginInstallationResults > div {
  padding: 4px 8px 8px;
  background-color: #f2f2f2;
  border-radius: 3px;
  float: left;
  width: 30%;
  margin-right: 10px; }
  #gdPluginInstallationResults > div:last-child {
    margin-right: 0px; }
#gdPluginInstallationResults h4 {
  margin: 0px;
  padding: 0px;
  font-weight: normal;
  color: #222222;
  font-style: italic; }
#gdPluginInstallationResults .gdResponse div {
  font-size: 7pt;
  line-height: 16px;
  border-bottom: 1px solid #dddddd;
  clear: both; }
  #gdPluginInstallationResults .gdResponse div:first-child {
    margin-top: 4px; }
  #gdPluginInstallationResults .gdResponse div:last-child {
    border-bottom: 0px; }
#gdPluginInstallationResults .gdResponse .gdSuccess {
  background-color: green;
  color: white;
  border-radius: 3px;
  padding: 0px 4px;
  float: right;
  line-height: 16px;
  font-size: 6.5pt; }
#gdPluginInstallationResults .gdResponse .gdError {
  background-color: #cc0000;
  color: white;
  border-radius: 3px;
  padding: 0px 4px;
  float: right;
  line-height: 16px;
  font-size: 6.5pt;
  cursor: pointer; }

/* overridden CodeMirror styles */
body .CodeMirror pre {
  font-family: monospace; }

body .CodeMirror {
  border: 1px solid #cccccc; }

body .CodeMirror-lines div pre {
  line-height: 14px; }

body .cm-s-default pre span {
  line-height: 10px; }

body .CodeMirror-scroll {
  height: 500px; }
