.footer {
  flex: 0 0 60px;
  display: flex;
  align-content: space-between;
  border-top: 1px solid #cccccc;
  padding: 20px;

  ul {
    flex: 1;
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
