@import "../../styles/variables.scss";

* {
	box-sizing: border-box;
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
	font-family: garamond, 'Open Sans', serif;
    font-size: 12px;
}

input, select, textarea {
    font-family: garamond, 'Open Sans', serif;
    font-size: 12px;
}

:global(#root) {
    height: 100%;
}

.page {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    overflow: hidden;
}

input, textarea, select {
    border-radius: 4px;
    border: 1px solid #cccccc;
    padding: 6px;
    outline: none;

    &:focus {
        border: 1px solid $primary-color;
    }
}

a {
    color: $primary-color;

    &:hover {
        color: 1px solid darken($primary-color, 30%);
    }
}
