.previewPanel {
    height: 100%;
}

.controls {
    position: fixed;
    right: 0;
    padding: 10px;
    z-index: 5000;

    button {
        cursor: pointer;

        &:hover svg {
            fill: #999999;
        }
    }
}

.previewPanelContent {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.preview {
	height: 100%;
    flex: 1;
	display: flex;
    flex-direction: column;

    & > div, & > div > div {
        display: flex;
        flex-direction: column;
        flex: 1;
    }
}

.noResults {
    color: white;
}