.previewPanel {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.topRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  flex: 0 0 auto;
  justify-content: flex-end;
}

.closePanel {
  cursor: pointer;
  &:hover svg {
    fill: #999999;
  }
}

.preview {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0 30px;

  &>div, &>div>div {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}
