/* the dialog CSS is a mess. TOTALLY in need of a refactor. */
#gdMainDialog {
  border: 1px solid #cccccc;
  padding: 0px;
  margin: 3px 2px;
  max-height: 420px; }
  #gdMainDialog div, #gdMainDialog p {
    line-height: 16pt; }
  #gdMainDialog h3 {
    margin: 2px 0px 0px; }
  #gdMainDialog .ui-widget button {
    font-family: "lucida grande", verdana; }
  #gdMainDialog .gdSelectedDataSetRow {
    background-color: #efefef; }
  #gdMainDialog h4 {
    margin: 0px; }

#gdLoginDialog {
  border: 1px solid #cccccc;
  padding: 0px;
  margin: 3px 2px; }
  #gdLoginDialog div, #gdLoginDialog p {
    line-height: 16pt; }

#gdMainDialogContent {
  clear: both; }
  #gdMainDialogContent > div {
    padding: 6px 10px;
    height: 300px;
    overflow-y: auto; }
  #gdMainDialogContent #gdMainDialogTab3Content {
    padding: 0px 0px 0px 6px;
    overflow: hidden; }
    #gdMainDialogContent #gdMainDialogTab3Content h3 {
      padding-top: 10px; }

#gdLoginDialogContent {
  clear: both; }

#gdLoginDialogTab1Content, #gdLoginDialogTab2Content {
  padding: 2px; }

#gdLoginError, #gdResetPasswordMessage {
  margin: 6px; }

#gdAccountDataSets .leftAligned {
  padding-left: 3px; }
#gdAccountDataSets td a {
  display: block;
  color: #189C1C; }
  #gdAccountDataSets td a:hover {
    background-color: #7fbf4d;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7fbf4d), color-stop(100%, #63a62f));
    background-image: -webkit-linear-gradient(top, #7fbf4d, #63a62f);
    background-image: -moz-linear-gradient(top, #7fbf4d, #63a62f);
    background-image: -ms-linear-gradient(top, #7fbf4d, #63a62f);
    background-image: -o-linear-gradient(top, #7fbf4d, #63a62f);
    background-image: linear-gradient(top, #7fbf4d, #63a62f);
    border-radius: 2px;
    color: white;
    text-decoration: none; }

.highlightTableRows tbody tr:hover {
  background-color: #f2f2f2; }

.gdModalTabs.gdThreeCols li {
  width: 33.3%; }
.gdModalTabs.gdTwoCols li {
  width: 50%; }
.gdModalTabs ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  background-color: #efefef; }
  .gdModalTabs ul li {
    float: left;
    margin: 0px;
    background-color: #efefef;
    text-align: center;
    cursor: pointer; }
    .gdModalTabs ul li.gdSelected {
      background-color: white; }

#gdDataSetHelpNav {
  width: 200px;
  margin-right: 20px;
  padding-right: 10px;
  border-right: 1px solid #efefef;
  float: left;
  height: 300px;
  overflow-x: hidden; }
  #gdDataSetHelpNav ul {
    list-style: none;
    margin: 0px;
    padding: 0px; }
    #gdDataSetHelpNav ul li {
      padding: 0px;
      margin: 0px; }
      #gdDataSetHelpNav ul li.gdDataTypeHeader {
        font-weight: bold;
        margin: 7px 0px 0px 7px; }
      #gdDataSetHelpNav ul li a {
        color: #189c1c;
        display: block;
        border-radius: 3px;
        padding: 1px 7px;
        margin-bottom: 2px; }
        #gdDataSetHelpNav ul li a:hover, #gdDataSetHelpNav ul li a.gdSelected {
          background-color: #7fbf4d;
          background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7fbf4d), color-stop(100%, #63a62f));
          background-image: -webkit-linear-gradient(top, #7fbf4d, #63a62f);
          background-image: -moz-linear-gradient(top, #7fbf4d, #63a62f);
          background-image: -ms-linear-gradient(top, #7fbf4d, #63a62f);
          background-image: -o-linear-gradient(top, #7fbf4d, #63a62f);
          background-image: linear-gradient(top, #7fbf4d, #63a62f);
          -webkit-transition: background-image .2s;
          -moz-transition: background-image .2s;
          transition: background-image .2s;
          color: white;
          border-radius: 3px;
          text-decoration: none; }

#gdDataSetHelpContent {
  height: 300px;
  float: left;
  width: 551px;
  padding-right: 6px;
  overflow-y: auto; }
  #gdDataSetHelpContent a:link, #gdDataSetHelpContent a:hover {
    color: #3366CC; }

body .ui-widget-content .gdDeleteDataSetsBtn span {
  color: #bb0000; }

body .gdMainDialog .ui-dialog-titlebar {
  padding: 2px; }

body .gdMainDialog .ui-dialog-title span {
  font-size: 14px; }

.gdMainDialog .ui-dialog-title {
  background: transparent url(../images/logoSmall.png) center left no-repeat;
  padding: 4px 0px 3px 52px; }

.gdDataSetCheckRowCell input {
  margin: 0px; }

#gdLinkURL {
  font-size: 16pt;
  width: 100%; }

#gdAccountListNonEmpty td.gdEditAccount {
  background-image: url(../images/edit.png);
  background-repeat: no-repeat;
  background-position: center center; }
  #gdAccountListNonEmpty td.gdEditAccount a {
    display: block;
    width: 18px;
    height: 18px; }
#gdAccountListNonEmpty td.gdDeleteAccount {
  background-image: url(../images/delete.png);
  background-repeat: no-repeat;
  background-position: 2px center; }
  #gdAccountListNonEmpty td.gdDeleteAccount a {
    display: block;
    width: 18px;
    height: 18px; }

.modalSpinner {
  float: left;
  margin-top: 2px;
  height: 34px; }

#gdDeleteAccountDialog th {
  text-align: left; }
#gdDeleteAccountDialog .gdIconWarning {
  margin-right: 15px;
  float: left;
  height: 100px; }

.gdIconInfo {
  margin-right: 15px;
  float: left;
  background: url(../images/info.png) no-repeat scroll left top transparent;
  width: 32px;
  height: 32px; }
