/* custom styles for the installation page */
.gdInstallPage h1 {
  border-bottom: 1px solid #efefef;
  padding-bottom: 8px;
  margin-bottom: 8px;
  float: none; }
.gdInstallPage #dbTablePrefix {
  width: 60px; }
.gdInstallPage input.pwdField {
  width: 100px; }
.gdInstallPage .doc label {
  float: left;
  width: 160px;
  color: #777777;
  margin-top: 2px;
  clear: right; }
.gdInstallPage .doc > div {
  clear: both; }
.gdInstallPage .doc div > div {
  float: right;
  width: 770px; }
.gdInstallPage #gdInstallNav {
  float: left;
  width: 200px;
  padding-top: 6px; }
  .gdInstallPage #gdInstallNav ol {
    margin: 0px;
    padding: 0px 0px 0px 20px; }
  .gdInstallPage #gdInstallNav ol li {
    padding-left: 0px;
    color: #cccccc; }
  .gdInstallPage #gdInstallNav ol li.gdSelected {
    font-weight: bold;
    color: green; }
  .gdInstallPage #gdInstallNav ol li.gdComplete {
    color: #999999; }
.gdInstallPage .gdInstallSection {
  float: right;
  width: 725px; }
  .gdInstallPage .gdInstallSection p {
    margin-bottom: 12px; }
  .gdInstallPage .gdInstallSection button {
    margin-bottom: 10px; }
.gdInstallPage .gdAdminAccountHeading {
  font-weight: bold; }
.gdInstallPage .gdInstallTabMessage {
  border-radius: 5px;
  padding: 3px 10px 3px 54px;
  margin-bottom: 10px;
  text-shadow: 0 1px 0 #fff;
  display: none;
  min-height: 36px;
  position: relative; }
  .gdInstallPage .gdInstallTabMessage .gdIcon {
    width: 32px;
    height: 32px;
    position: absolute;
    left: 12px;
    top: 10px; }
  .gdInstallPage .gdInstallTabMessage h3 {
    font-weight: bold;
    display: inline;
    font-size: 8pt; }
  .gdInstallPage .gdInstallTabMessage .gdResponse {
    color: #000000; }
.gdInstallPage .gdInstallError {
  background-color: #ffe1e1; }
  .gdInstallPage .gdInstallError h3 {
    color: #cc0000; }
  .gdInstallPage .gdInstallError .gdIcon {
    background-image: url(../images/stop.png); }
.gdInstallPage .gdInstallSuccess .gdIcon {
  background-image: url(../images/info.png); }
