header {
  background-image: url(../images/siteHeader.jpg);
  background-repeat: no-repeat;
  position: relative;
  width: 980px;
  height: 77px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 8px;
  display: block; }
  header nav {
    position: absolute;
    right: 0px;
    top: 32px; }
    header nav ul {
      margin: 0px;
      padding: 0px;
      display: inline;
      list-style: none; }
      header nav ul li {
        display: inline; }
    header nav a:link, header nav a:visited {
      text-decoration: none; }
    header nav a:hover {
      color: #990000;
      border-bottom: 1px solid #990000; }

section {
  width: 500px;
  border-top: none;
  border-bottom: none;
  background-color: white;
  width: 930px;
  margin: 0 auto;
  text-align: left;
  padding: 10px 25px 20px;
  clear: left;
  display: block; }

nav {
  display: block; }
  nav a:link, nav a:visited {
    color: #3366cc;
    outline: none;
    text-shadow: 0 1px 0 #fff; }

footer {
  width: 980px;
  margin: 0 auto 15px;
  padding: 5px 0px;
  height: 20px;
  font-size: 7pt;
  background-color: #f5f5f5;
  border-top: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-radius-bottomleft: 8px;
  border-radius-bottomright: 8px;
  display: block; }
  footer a:link, footer a:visited {
    color: #555555;
    text-decoration: none;
    color: #3366cc;
    outline: none; }
    footer a:link:hover, footer a:visited:hover {
      text-decoration: underline; }
  footer ul {
    list-style: none;
    padding: 0px;
    margin: 0px; }
    footer ul li {
      margin: 0px;
      padding: 0px;
      display: inline; }
      footer ul li:before {
        content: " | ";
        color: #cccccc; }
      footer ul li:first-child:before {
        content: ""; }
      footer ul li span {
        margin: 0px 6px;
        font-size: inherit; }

#gdMainTabs {
  width: 980px;
  margin: 0 auto;
  position: relative; }
  #gdMainTabs ul {
    list-style: none;
    margin: 0px;
    padding: 0px; }
    #gdMainTabs ul li {
      color: #222222;
      font-size: 9pt;
      cursor: pointer;
      margin: 2px 1px 0 0;
      padding: 3px 0 0 0;
      float: left;
      width: 120px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      border-radius-topleft: 8px;
      border-radius-topright: 8px;
      background-color: #efefef;
      height: 22px;
      color: #666666; }
      #gdMainTabs ul li a:link, #gdMainTabs ul li a:visited {
        display: block;
        font-size: 9pt;
        color: green;
        text-decoration: none; }
      #gdMainTabs ul li:hover {
        background-color: #f5faf6; }
    #gdMainTabs ul li.gdSelected {
      color: green;
      cursor: inherit;
      border-bottom: 0px;
      height: 22px;
      background-color: white; }
      #gdMainTabs ul li.gdSelected:hover {
        background-color: white; }

.gdMainTabContent {
  padding: 0px;
  margin: 0px; }
  .gdMainTabContent > li {
    padding: 0px;
    margin: 0px;
    list-style: none; }
  .gdMainTabContent h1 {
    float: left; }
  .gdMainTabContent .gdSectionHelpTip {
    float: left;
    list-style: none;
    padding-left: 10px;
    padding-top: 17px; }

#gdMainTab1Content {
  display: block;
  margin-top: 20px; }
  #gdMainTab1Content h2 {
    margin: 0px 0px 4px;
    font-size: 12px;
    color: #777777;
    padding: 1px 20px 0px 1px; }
    #gdMainTab1Content h2 span.gdSectionHelp {
      background: transparent url("../images/helpSmall.png") right center no-repeat;
      cursor: pointer;
      width: 14px;
      height: 14px;
      display: inline-block;
      margin: 0px 0px -2px 3px; }
  #gdMainTab1Content .gdFields {
    float: left; }

#gdContent {
  text-align: left;
  position: relative; }

.cols2 {
  clear: both;
  position: relative; }

.cols2 .col {
  float: left;
  width: 410px; }

.gdSetting {
  position: relative;
  clear: left;
  line-height: 18pt;
  width: 500px; }
  .gdSetting > label {
    float: left;
    width: 160px; }
  .gdSetting > div {
    float: left; }

.gdFields {
  line-height: 21px;
  width: 725px; }
  .gdFields .gdError {
    margin-left: 6px;
    background: transparent url(../images/error.gif) left center no-repeat;
    float: left;
    width: 315px;
    padding-left: 24px;
    color: #e22222;
    display: none; }
  .gdFields input.pwdField {
    width: 100px; }

#consoleEventsModuleList {
  width: 400px; }
