#gdMainDialog {
  border: 1px solid #cccccc;
  padding: 0px;
  margin: 3px 2px; }
  #gdMainDialog div, #gdMainDialog p {
    line-height: 16pt; }
  #gdMainDialog h3 {
    margin: 2px 0px 0px; }
  #gdMainDialog .ui-widget button {
    font-family: "lucida grande", verdana; }
  #gdMainDialog .gdDeletedDataSetRow {
    background-color: #EBFEEB; }

#gdMainDialogContent {
  padding: 6px;
  clear: both; }

#gdAccountDataSets td a {
  display: block;
  color: #3366CC; }
  #gdAccountDataSets td a:hover {
    background-color: #efefef; }

#gdMainDialogTabs ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  background-color: pink; }
  #gdMainDialogTabs ul li {
    width: 25%;
    float: left;
    margin: 0px;
    background-color: #efefef;
    text-align: center;
    cursor: pointer; }
    #gdMainDialogTabs ul li.gdSelected {
      background-color: white; }
