#gdMainDialog {
  padding: 3px 2px; }
  #gdMainDialog div, #gdMainDialog p {
    line-height: 16pt; }
  #gdMainDialog ul li {
    padding: 2px 30px; }
  #gdMainDialog h3 {
    margin: 2px 0px 0px; }
  #gdMainDialog .gdSmallTabs {
    margin-bottom: 0px; }
    #gdMainDialog .gdSmallTabs ul {
      height: 24px; }
  #gdMainDialog .gdSelected {
    padding: 2px 29px; }

#gdMainDialogContent {
  padding: 6px; }

.gdHelpSection {
  padding: 8px;
  margin: 0px -8px; }
