.gdMessage {
  position: relative;
  display: none; }
  .gdMessage a.gdMessageClose:link, .gdMessage a.gdMessageClose:visited {
    position: absolute;
    top: 10px;
    right: 12px;
    text-decoration: none;
    color: black;
    background-color: white;
    width: 20px;
    border-radius: 6px;
    font-size: 7pt;
    line-height: 16px;
    border-radius: 6px;
    text-align: center; }
  .gdMessage ul {
    margin: 0px;
    padding: 0px 20px; }

.gdNotify {
  background-color: #F2F8FF;
  border: 1px solid #0058DB; }
  .gdNotify p {
    padding: 8px;
    color: #0058DB;
    margin: 0px; }
  .gdNotify a.gdMessageClose:hover {
    background-color: #3b82cb;
    color: white; }

.gdErrors {
  background-color: #FFEDED;
  border: 1px solid #CC0000; }
  .gdErrors a.gdMessageClose:hover {
    background-color: #AA0000;
    color: white; }
  .gdErrors div {
    padding: 8px;
    color: #aa0000 ul;
      color-margin: 0px;
      color-padding-left: 16px; }

.gdProblemField {
  background-color: #990000;
  color: #ffffcc; }
