.page {
	font-size: 13px;
	max-width: 1024px;
	margin: 0 auto 0;
	width: 100%;
	padding: 0 10px;
	height: 100%;
	flex: 1;
	display: flex;

	&>div {
		display: flex;
		flex-direction: column;
		flex: 1;
	}
}

.row {
	display: flex;
	width: 100%;
	padding: 6px;
	align-items: center;
}

.header {
	font-weight: bold;
	font-size: 13px;
	color: #666666;
	padding-top: 2px;
	border-bottom: 1px solid #333333;
}

.body {
	overflow: scroll;

	.row {
		&:hover {
			background-color: #f9f9f9;
		}
	}
}

.dataSetName {
	flex: 1;
}

.dateCreated {
	flex: 1;
}

.lastModified {
	flex: 1;
}

.numRowsGenerated {
	flex: 1;
}

.status {
	flex: 0 0 80px;
}

.load {
	flex: 0 0 80px;
	text-align: center;
}

.history {
	flex: 0 0 80px;
	text-align: center;
}

.del {
	flex: 0 0 30px;
	align-items: center;
	cursor: pointer;

	&:hover {
		svg {
			fill: #990000;
		}
	}
}
