@import "../../../styles/variables";

.panel {
	display: flex;
	flex-direction: column;
	width: 400px;
	height: 100%;

	section {
		flex: 1;
		padding: 0 20px;
	}

	footer {
		padding: 15px;
		button {
			width: 100%;
		}
	}
}

.row {
	display: flex;
	width: 100%;
	padding: 6px;
	align-items: center;
	font-size: 13px;
	border: 1px solid transparent;
	transition: all 0.2s ease-in-out;

	.id {
		margin-left: 10px;
		flex: 0 1 50px;
		color: #999999;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.dateCreated {
		flex: 1;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.edit {
		margin-right: 10px;
	}

	.del {
		flex: 0 0 30px;
		align-items: center;
		cursor: pointer;

		&:hover {
			svg {
				fill: #990000;
			}
		}
	}
}

.selectedRow {
	border: 1px solid $primary-color;
	background-color: $primary-pale-color;
	border-radius: 4px;
}
