@import "./variables.scss";

h3 {
	margin: 10px 0 8px;
}

a {
	text-decoration: none;
	color: $primary-color;

	&:hover {
		text-decoration: underline;
	}
}

:global(.Select-menu-outer) {
	z-index: 10000 !important;
}

body :global(div.MuiTooltip-popper) {
	z-index: 5005 !important; // was 5010
}

.recharts-wrapper .recharts-area {
	transition: none;
}

body :global(.MuiAlert-filledError) {
	background-color: #c52820;
}
