@import "./variables.scss";

.tip {
	color: #999999;
}

.emptyCol {
	padding: 7px 2px;
	color: #999999;
}

input.errorField, textarea.errorField, select.errorField, button.errorField {
	border: 1px solid #db0000;

	&:focus {
		border: 1px solid #db0000;
	}
}

.pill {
	background-color: #dfecfc;
	border-radius: 3px;
	padding: 1px 6px;
}

.copyCol {
	flex: 0 0 26px;
}

:global(div.MuiAlert-root) {
	font-size: 13px;
}

.twoColPage {
	max-width: 1024px;
	margin: 15px auto 0;
	width: 100%;
	padding: 0 10px;
	height: 100%;
	flex: 1;
	display: flex;
	flex-direction: row;
	font-size: 12px;

	input {
		font-size: 14px;
	}

	nav {
		flex: 0 0 240px;

		ul {
			list-style: none;
			padding-left: 0;

			li {
				padding: 10px 10px;
				font-size: 14px;
				cursor: pointer;
				transition: color 0.2s ease-in-out;

				&:hover {
					color: $primary-color;
				}

				&.selected {
					color: $primary-color;
				}
			}
		}
	}

	.tab {
		flex: 1;
		padding: 20px 0;
		overflow: scroll;
	}

	label {
		color: #999999;
	}

	:global(.react-select__placeholder), :global(.react-select__single-value) {
		font-size: 14px;
	}
}

.cancelLink {
	margin-left: 15px;
	font-size: 13px;
	color: #999999;
	cursor: pointer;

	&:hover {
		color: $primary-color;
	}
}
