.tip {
	color: #999999;
}

.emptyCol {
	padding: 7px 2px;
	color: #999999;
}

input.errorField, textarea.errorField, select.errorField, button.errorField {
	border: 1px solid #db0000;
}

.pill {
	background-color: #dfecfc;
	border-radius: 3px;
	padding: 1px 6px;
}

.copyCol {
	flex: 0 0 26px;
}
