$primary-color: #275eb5;
$primary-pale-color: #e0ebfd;
$bg-color: #f2f2f2;
$field-focus-color: #2684FF;
//$primary-submit: #4a8937;
//$primary-submit-hover: #366827;

$primary-submit: #30aadc;
$primary-submit-hover: #148ec0;
