@import "../../styles/variables";

.footer {
	flex: 0 0 60px;
	background-image: url("./images/bg.png");
	padding: 16px 20px;

	& > div {
		display: flex;
		flex: 0 0 auto;
		margin: 0 auto;
		align-content: space-between;
		max-width: 1400px;
		height: 32px;

		& > ul {
			flex: 0 0 auto;
			display: flex;
			flex-direction: row;
			list-style: none;
			margin: 0;
			padding: 0;
			align-items: center;

			li {
				display: flex;
				margin-right: 10px;

				&:hover {
					svg {
						fill: $primary-color;
					}
				}
			}

			svg {
				cursor: pointer;
				transition: fill 0.15s ease-in-out;
			}
		}
	}

	a:hover {
		border-bottom: 0;
	}

	svg {
		-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(0, 0, 0, 0.6)));
	}

	button.generateButton, button.saveButton, button.saveButtonAsMainBtn {
		font-size: 13px;

		svg {
			font-size: 15px;
			margin: 0 5px 0 -5px;
		}

		&:global(.Mui-disabled) {
			border-color: #bbbbbb;
		}
	}

	.aboutIconEl {
		height: 24px;
	}
}

.saveButtonAs {
	button.saveButtonAsMainBtn {
		border-color: #bde9fb;
	}
}

.scriptVersion a {
	margin-right: 30px;
	color: #333333;

	&:hover {
		text-decoration: none;
	}
}

div.controls {
	margin-right: 15px;
}

button.saveButton {
	background-color: $primary-submit;
	color: white;
	margin-right: 15px;

	&:hover {
		background-color: $primary-submit-hover;
	}
}

div.saveButtonAs {
	margin-right: 15px;
	button {
		background-color: $primary-submit;
		color: white;

		&:hover {
			background-color: $primary-submit-hover;
		}
	}
}

button.saveBtnArrow {
	min-width: inherit;
	padding: 0 6px;

	svg {
		margin: 0;
	}
}

.saveAsRow {
	cursor: pointer;
	background-color: $primary-submit;
	margin-bottom: 2px;
	border-radius: 2px;
	color: white;
	text-transform: uppercase;
	font-size: 11px;
	padding: 6px 12px;
	z-index: 2;

	&:hover {
		background-color: $primary-submit-hover;
	}
}

.tourBtn:global(.MuiButtonBase-root) {
	text-transform: none;
	transition: color 0.15s ease-in-out;
	margin-left: -6px;

	svg {
		margin-right: 4px;
	}
	&:hover {
		color: $primary-color;
	}
}

@media (max-width: 900px) {
	button.tourBtn {
		display: none;
	}
}

.showTourLink {
	flex: 0 0 auto;
}

.activePacketsList {
	flex: 1 1 auto;
	overflow: scroll;
}

.footerControls {
	display: flex;
	align-items: stretch;
	flex: 0 0 auto;
	padding-right: 18px;
	opacity: 0;
	transition: opacity 200ms ease-in-out;

	&.visible {
		opacity: 1;
	}
}

@media (max-width: 600px) {
	.footerControls {
		padding-right: 0;
	}
}
